body {
    background: #f6f7fb;
}

h1, h2 {
    color: #2d3436;
}

.list-group-item .btn-danger {
    margin-left: 20px;
}

.list-group-item {
    transition: background 0.2s;
}
.list-group-item:hover {
    background: #f1f2f6;
}
